/* Bulma.io CSS framework used for the majority of the CSS. !important rules are used to override bulma styling*/
@import "PercentColors.css";

.custom-welcome-img {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.custom-img-border {
  border-radius: 0.5em;
}

.custom-modal-background {
  background-color: #eee;
}

.custom-start-portfolio-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.custom-info-button {
  cursor: pointer;
  color: #ccc;
}

.custom-info-button:hover {
  color: #aaa;
}

.custom-currency-selector:focus,
.custom-currency-selector:active,
.custom-refresh-prices:focus,
.custom-refresh-prices:active {
  border-color: #dbdbdb !important;
  box-shadow: none !important;
}

.custom-not-a-button:focus:not(:active) {
  box-shadow: none;
}

.custom-doughnut-div {
  position: relative;
  padding-right: 1em;
  padding-left: 1em;
}

.custom-refresh-loadspinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  /* border: 1px solid black; */
  border-radius: 50%;
  width: 20%;
  max-width: 150px;
  max-height: 100px !important;
  font-size: 4rem;
}

.custom-table-loadspinner {
  background-color: hsla(0, 0%, 0%, 0%);
  border: none;
  padding: 0;
}

.custom-modal-card-height {
  /* to leave room for asset symbol search. */
  min-height: 500px;
}

.custom-search-container {
  max-width: 600px;
}

.custom-search-results {
  max-height: 90px;
  overflow: hidden;
  padding-left: 1.2em;
}

.custom-search-suggestion-item-button {
  display: flex;
  flex-direction: column;
  width: 100%;

  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;

  /* padding-left: 1em; */
}

.custom-search-suggestion-item-button:focus {
  background-color: #ddd;
}

.custom-ellipse-btn {
  border: none;
  background-color: rgba(245, 245, 245, 0);
}

.custom-ellipse-btn:hover {
  background-color: rgba(245, 245, 245, 0);
  color: hsl(348, 100%, 61%);
}

.custom-dropdown {
  max-width: 5rem;
  min-width: 5rem;
}

.custom-info-selector {
  cursor: pointer;
}

.custom-info-selector:hover {
  background-color: rgb(245, 245, 245);
}

.custom-box {
  /* limits max height of asset info graphs. Fix for strange flexbox behaviour where right-most graph in flex-direction: row is larger when not wrapped */
  max-height: 520px;
}

.custom-financial-chart-container,
.custom-price-chart-container {
  --width: 500px;
  width: var(--width);
  height: calc(var(--width) / 1.5);
}

.custom-chart-title {
  background-color: hsla(0, 0%, 0%, 0%);
  border: none;
}

.custom-hypercharts-icon {
  color: #888;
  cursor: pointer;
}

.custom-hypercharts-icon:hover {
  color: #aaa;
}

.custom-no-hover {
  cursor: default;
  outline: none;
}

.custom-table-header {
  border-bottom: 2px solid rgb(219, 219, 219);
}

@media screen and (max-width: 767px) {
  .custom-financial-chart-container,
  .custom-price-chart-container {
    max-width: 300px;
    height: 280px;
  }

  .custom-box {
    max-width: 425px;
  }
}

@media screen and (max-width: 480px) {
  .custom-refresh-prices-margin-mobile {
    margin-top: -2rem;
  }
}

@media screen and (max-width: 400px) {
  .custom-refresh-prices-margin-mobile {
    margin-top: -4rem;
  }
}
